= default_error_messages_for @lecture
= fieldset do
  %p= text_field :name, :label => "Nazwa"
  %p= text_area :description, :label => "Opis"
  %p
    %span.info 
      W opisie można korzystać z
      %a(href="http://redcloth.org/textile") textile
  %p= text_field :lecturer_name, :label => "Prowadzący"
  %p
    = label "Date i godzina"
    = datetime_picker @lecture, :date