.grid6
  = form_for(@lecture, :action => resource(@lecture)) do
    .box
      %h2 Edytuj wykład
      = partial 'form'

      .actions
        = submit "Zapisz"
        = link_to "Przejdź do strony wykładu", resource(@lecture)
      .actions
        = link_to "Usuń wykład", resource(@lecture), :class => "delete", :rel => "Czy napewno chcesz usunąć wykład?"

    
    .box
      = fieldset do
        %h2 Dodaj zdjęcia
        %p.upload
          = file_field :name => "imageUpload", :rel => @lecture.id
          %span.menu
            %a#startUpload(href="#") Wyślij
            |
            %a#clearQueue(href="#") Wyczyść kolejke
.grid6
  #images.box  
    %h2 Zdjęcia
    %span.info Przeciągnij aby zmienić kolejność
    .images
      
      
