!!!XML
%rss(version="2.0")
  %channel
    %title= @faculty ? "Wydział: #{@faculty.full_name}" : "Wszystkie wykłady"
    %link= @faculty ? absolute_url(:faculty, :code => @faculty.code) : absolute_url(:lectures)
    %description
    %language pl_PL
    %pubDate= Time.now.rfc822
    
    - for lecture in @lectures    
      %item
        %title&= lecture.name
        %description&= textilize lecture.description
        %link= absolute_url(:lecture, lecture)
        %author&= lecture.user.login
        %pubDate= lecture.date