.grid8
  .box
    %h2= @faculty ? "Wydział: #{@faculty.full_name}" : "Wszystkie wykłady"
    = partial 'shared/lectures'
  = paginate @lectures, :route => @faculty ? :faculty : :lectures
  
.grid4
  .box
    %h2 Wyszukiwarka
    = partial 'shared/search'
    
- throw_content :for_header do
  - if @faculty
    %link{:rel => "alternate", :type => "application/rss+xml", :title => "Wydział: #{@faculty.full_name}", :href => absolute_url(:faculty, :code => @faculty.code, :format => :xml)}
  - else
    %link{:rel => "alternate", :type => "application/rss+xml", :title => "Wszystkie wykłady", :href => absolute_url(:lectures, :format => :xml)}
  