.grid8
  .box
    %h2= @faculty ? "Wydział: #{@faculty.full_name}" : "Wszystkie wydziały"
    = partial 'shared/lectures'
  - if @lectures.num_pages > 0
    = paginate @lectures, :route => @faculty ? :faculty : :lectures
  
.grid4
  .box.search
    %h2
      Wyszukiwarka
      - if @faculty
        = "(#{@faculty.code})"
        = link_to "Szukaj na wszystkich wydziałach", url(:lectures)
    = partial 'shared/search'

  .box
    = link_to "Dodaj wykład", resource(:lectures, :new), :class => "add button"
    
    
- throw_content :for_header do
  - if @faculty
    %link{:rel => "alternate", :type => "application/rss+xml", :title => "Wydział: #{@faculty.full_name}", :href => absolute_url(:faculty, :code => @faculty.code, :format => :xml)}
  - else
    %link{:rel => "alternate", :type => "application/rss+xml", :title => "Wszystkie wykłady", :href => absolute_url(:lectures, :format => :xml)}
  