.grid6
  %h2= @lecture.name
  %span.lecture_info
    = format_datetime @lecture.date
    \/
    = link_to @lecture.faculty.full_name, resource(@lecture.faculty)
    \/
    = link_to @lecture.user.login, resource(@lecture.user)

  .description= @lecture.description
  
  .lecture_menu
    = link_to "Pobierz wszystkie zdjęcia (.zip)", resource(@lecture, :package), :class => "button"

.grid6  
  %h2 Zdjęcia
  .images
    %ul
      - @images.each do |image|
        %li{:id => image.id}
          %div= link_to image_tag(image.url(:thumbnail)), image.url

