.grid6
  #faculties.box
    %h2 Wybierz wydział
    %ul
      - for faculty in @faculties
        %li= link_to faculty.full_name_with_lectures_count, resource(faculty)
      %li.all= link_to "Wszystkie wykłady", resource(:lectures)
      
.grid6
  .box
    %h2 Wyszukiwarka
    = partial 'shared/search'

  .box.lectures
    %h2 Ostatnio dodane wykłady
    = partial 'shared/lectures'
    
  .box.comments
    %h2 Ostatnio dodane komentarze
    %ul
      - for comment in @comments
        %li
          .date= format_datetime(comment.created_at)
          .content= link_to truncate(comment.content, 70), resource(comment.lecture) + "#comment#{comment.id}"
          .lecture
            = link_to comment.lecture.name, resource(comment.lecture)
            = link_to comment.user.login, resource(comment.user)
