.grid8
  .box.lectures
    %h2= @faculty.full_name
    %ul
      - for lecture in @lectures
        %li
          .date= format_datetime(lecture.date)
          .name= link_to lecture.name, resource(lecture)
          .author= link_to lecture.user.login, resource(lecture.user)
  = paginate @lectures, :route => :faculty
        
.grid4
  .menu.box
    = link_to "Dodaj wykład", resource(@faculty, :lectures, :new), :class => "button"