.grid6
  %h2 
    Profil użytkownika:
    = @user.login
    
  %dl
    %dt Imię i nazwisko:
    %dd= @user.name
    %dt Wydział:
    %dd= link_to @user.faculty.full_name, resource(@user.faculty)
    %dt Rok studiów:
    %dd= @user.year
      
    
.grid6.lectures
  %h2 Dodane wykłady
  %ul
    - for lecture in @lectures
      %li{:class => cycle("even", "odd")}
        .date= format_datetime(lecture.date)
        .name= link_to lecture.name, resource(lecture)
        .faculty= link_to lecture.faculty.code, resource(lecture.faculty)
  
.grid6.comments.push6
  %h2 Dodane komentarze