.grid6
  .box
    %h2 
      Profil użytkownika:
      = @user.login
    .lecture_menu
      = link_to "Profil na forum"
      
    
.grid6
  .box.lectures
    %h2 Dodane wykłady
    = partial 'shared/lectures'
  
  .box.comments
    %h2 Dodane komentarze
    %ul
      - for comment in @comments
        %li
          .date= format_datetime(comment.created_at)
          .content= link_to truncate(comment.content, 70), resource(comment.lecture) + "#comment#{comment.id}"
          .lecture= link_to comment.lecture.name, resource(comment.lecture)