.grid6
  .box
    %h2 
      Profil użytkownika:
      = @user.login
    
    %dl
      %dt Imię i nazwisko:
      %dd= @user.name
      %dt Wydział:
      %dd= link_to @user.faculty.full_name, resource(@user.faculty)
      %dt Rok studiów:
      %dd= @user.year
      
    
.grid6
  .box.lectures
    %h2 Dodane wykłady
    %ul
      - for lecture in @lectures
        %li
          .date= format_datetime(lecture.date)
          .name= link_to lecture.name, resource(lecture)
          .author= link_to lecture.faculty.code, resource(lecture.faculty)
  
  .box.comments
    %h2 Dodane komentarze
    %ul
      - for comment in @comments
        %li
          .date= format_datetime(comment.created_at)
          .content= link_to truncate(comment.content, 70), resource(comment.lecture) + "#comment#{comment.id}"
          .lecture= link_to comment.lecture.name, resource(comment.lecture)