!!! Strict
%html{ html_attrs("en_us") }
  %head
    %title
      pwr
    %meta(content="text/html; charset=utf-8" http-equiv="content-type")
    = css_include_tag :reset, :grid, :ui, :master, :bundle => "app"
    = js_include_tag :jquery, 'jquery.uploadify', 'jquery.ui', 'ui.datepicker-pl', :application, :bundle => "app"
    - if session.authenticated?
      :javascript
        var flashUploadScriptData = {#{Merb::Config[:session_id_key]}: "#{Merb::Parse.escape cookies[Merb::Config[:session_id_key]]}"}
  %body
    .grid
      .grid12
        - message.each_pair do |type, msg|
          #message(class=type)= msg
      #top
        .grid8
          %h1= link_to "pwr", url(:homepage)
        .grid4
          - if session.authenticated?
            = "Witaj #{session.user.login}"
            |
            = link_to "Profil", url(:profile)
            |
            = link_to "Wyloguj", url(:logout)
          - else
            = link_to "Zaloguj", url(:login)
            lub
            = link_to "Zarejestruj się", url(:login)
      
      = catch_content :for_layout
