!!! Strict
%html{ html_attrs("pl_PL") }
  %head
    %title
      pwr
    %meta(content="text/html; charset=utf-8" http-equiv="content-type")
    = css_include_tag :reset, :grid, :ui, :master, 'jquery.fancybox', :bundle => "app"
    = js_include_tag :jquery, 'jquery.uploadify', 'jquery.ui', 'jquery.ui.autocomplete', 'jquery.fancybox', :application, :bundle => "app"
    - if session.authenticated?
      :javascript
        var flashUploadScriptData = {#{Merb::Config[:session_id_key]}: "#{Merb::Parse.escape cookies[Merb::Config[:session_id_key]]}"}
    = catch_content :for_header
  %body
    .grid
      #top
        .grid8
          %h1= link_to "pwr", url(:homepage)
        .grid4
          - if session.authenticated?
            = "Witaj #{session.user.login}"
            |
            = link_to "Wyloguj", url(:logout)
          - else
            = link_to "Zaloguj", url(:login)
        .grid12
          - message.each_pair do |type, msg|
            #message(class=type)= msg
      
      = catch_content :for_layout
      #foot.grid12
        &copy; 2009 
        %a(href="http://teamon.eu") teamon
